body {
    background-color: black;
}

.calculator {
    max-width: 450px;
    margin: 200px auto;
    background-color: gray;
}

.display {
    font-family: "Orbitron";
    justify-content: right;
    background-color: white;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

.delete-buttons {
    max-width: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-self: center;
}

.number-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px auto;
}

.button {
    font-family: "Orbitron";
    font-size: 16px;
    padding: 10px;
}